<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=.9,user-scalable=no">
    <title> Onam Music Player</title>
    <meta name="google-site-verification" content="3dmWq1UGzIa8GVFtgekYD8bDm9xvak3xgy7BRpOshoM" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style2.css') }} ">
    <script src=" {{ url_for('static', filename= 'script2.js') }} " defer></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css'>
    <link rel="shortcut icon" href=" {{ url_for('static', filename= 'boombox.svg') }} " type="image/x-icon">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="header">
        <img src=" {{ url_for('static', filename= 'boombox.svg') }} ">
        <a href="#default" class="logo">&nbspONAM MUSIC PLAYER</a>
        
    </div>
    <div class="container">
        <div class="lyrics">
            <pre class="content">Lyrics</pre>
        </div>
    <div class="player">
        <div class="wrapper">
            <div class="details">
                <div class="now-playing">PLAYING x OF y</div>
                <div class="track-art"></div>
                <div class="track-name">Track Name</div>
                <div class="track-artist">Track Artist</div>
            </div>

            <div class="slider_container">
                <div class="current-time">00:00</div>
                    <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                    <div class="total-duration">00:00</div>
            </div>

            <div class="slider_container">
                <i class="fas fa-volume-down"></i>
                    <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
                    <i class="fas fa-volume-up"></i>
            </div>

            <div class="buttons">
                <div class="random-track" onclick="randomTrack()">
                    <i class="fas fa-random " title="random"></i>
                </div>
                <div class="prev-track" onclick="prevTrack()">
                        <i class="fas fa-backward "></i>
                    </div>
                    <div class="playpause-track" onclick="playpauseTrack()">
                        <i class="fas fa-play "></i>
                    </div>
                    <div class="next-track" onclick="nextTrack()">
                        <i class="fas fa-forward "></i>
                    </div>
                    <div class="repeat-track" onclick="repeatTrack()">
                        <i class="fas fa-repeat" title="repeat"></i>
                    </div>
            </div>

                <div id="wave">
                    <span class="stroke"></span>
                    <span class="stroke"></span>
                    <span class="stroke"></span>
                    <span class="stroke"></span>
                    <span class="stroke"></span>
                    <span class="stroke"></span>
                    <span class="stroke"></span>
                </div>  
        </div>
    </div>

<script language="javascript">
    if(screen.width<1100) {document.write("<style>body{zoom:30%;}</style>");}
     if(screen.width>=1100) {document.write("<style>body{zoom:90%;}</style>");}
     </script>
</body>

</html>